{# empty Twig template #}

{% extends "backend_layout.php" %}
{% block head %}
    
        <link href="{{server}}css/bootstrap/css/bootstrap.css" rel="stylesheet">
    {{ parent() }}

    <script type="text/javascript" src="{{server}}js/plugins/jquery-2.1.2.js"></script>
    <script src="{{server}}js/plugins/jquery.serializejson.js"></script>
    <link href="{{server}}/js/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="{{server}}js/plugins/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/jquery.dataTables-1.10.2.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content">

            <div class="conj-block">

                <form id="dataForm" action="./{{server}}ConfeccionPedidos/add" method="POST">
                    <div id="error-widget" class="ui-widget" style="display:none" onclick="$(this).css('display', 'none');">
                        <div style="padding: 0 .7em;" class="ui-state-error ui-corner-all">
                            <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span>
                                <strong>Error:</strong> Debe haber al menos un alimento agregado.</p>
                        </div>
                    </div>
                    <div class="conj-block" >
                        <label for="entidad" style = "display : block">Entidad destinadas: </label>
                        <select id="entidad" required name="entidad">
                            <option selected disabled hidden value=''></option>
                            {% for ent in entidades %}
                                <option value="{{ ent.id }}"> {{ ent.razonSocial }}</option>
                            {% endfor %}
                        </select>
                        <span style="float:left;"><img id="mas" src="{{server}}images/icons/glyphicons_190_circle_plus.png"></span>
                        
                        
                    </div>
                        <div class ="elem" style="width: 30%">

                        </div>
                    <div class="conj-block" style="display: block; width:30%">
                        <div style="margin-top:100px">
                            <label for="turno" style = "display : block">Turnos disponibles: </label>
                             <select id="turno" required name="turno">
                            <option selected disabled hidden value=''></option>
                            {% for tur in turnos %}
                                <option value="{{ tur.id }}"> {{ tur.fecha }} - {{ tur.hora }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <button type="submit" style="float:left;" name="submit"> Enviar </button>
                        
                    </div>
                </form>
            </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
            function checkAvailable(elemento, detalle, cantidad_requerida) {
                $.post("index.php", { data: "check_cantidad", id_detalle: detalle, cantidad: cantidad_requerida }, function(data, status) {
                    if (data === 0) {
                        alert("ERROR, demasiado producto seleccionado");
                        $(elemento).val(1);
                        return false;
                    }
                    else {
                        return true;
                    }
                }, "json");
            }
        function quitar(item) {
            $("#alimento_"+item).remove();
            $("#lista_"+item).css("display", "");
        }
        
        function agregar(item) {
                $.post("index.php", { agregar_detalle: item }, function(data) { 
                    var elemento = '<div class="well well-lg" id=alimento_'+data["id"]+' >'+
                                    '<label for="cantidad" >'+data["alimento_codigo"]+' - '+data["contenido"]+'</label>'+
                                    '<input type="text"  name="detalle_alimento_id[]" style="display:none" value="'+data["id"]+'">'+
                                    '<input type="number" placeholder="Cantidad de unidades" class="form-control" min="1" id="cantidad" name="cantidad[]" onchange="checkAvailable(this, '+data["id"]+',$(this).val());" required'+
                                    
                                    '</div>';
                    $(".elem").append(elemento); // agregamos el alimento a la lista principal
                    $("#lista_"+item).remove(); // eliminamos la linea de la tabla MODAL
                }, "json");
                
            }
        $(document).ready(function () {

            var $dialog = $('<div></div>')
			.load("templates/backend/alimento_tabla.html")
			.dialog({ autoOpen: false,
                                    show: {
                                        effect: "blind",
                                        duration: 1000
                                    },
                                    hide: {
                                        effect: "explode",
                                        duration: 1000
                                    },
                                    height: 300,
                                    width: 1000
			});
            $("#mas").click(function () {
                $.post('index.php', { data: "pedido_alimentos" }, function(data) {
                    for (i=0; i<data.length; i++) {
                        if (data[i]['stock'] > data[i]["reservado"]) {
                            var table_entry = '<tr id=lista_'+data[i]["id"]+'>'+
                                '<td>'+data[i]["alimento_codigo"]+'</td>'+
                                '<td>'+data[i]["fecha_vencimiento"]+'</td>'+
                                '<td>'+data[i]["contenido"]+'</td>'+
                                '<td>'+data[i]["peso_unitario"]+'</td>'+
                                '<td id="stock">'+data[i]['stock']+'</td>'+
                                '<td id="reservado">'+data[i]["reservado"]+'</td>'+
                                '<td onclick="agregar('+data[i]["id"]+');"><img src="images/icons/glyphicons_209_cart_in.png" ></td>'+
                            '</tr>';
                            $("#tabla-paquetes tbody").append(table_entry);
                        }
                    }
                    $dialog.dialog("open");
                }, "json");
                });
 
            $("#dataForm").submit(function (e) {
                e.preventDefault();
                if ($(".elem").children().size() > 0) {
                    $.ajax({
                        type: 'POST',
                        url: location.href + '/add',
                        dataType: 'json',
                        data: "dataEnvio="+JSON.stringify($("#dataForm").serializeJSON()),
                        complete: function (data) {
                            //alert(data);
                            window.location.reload(true);
                        }
                    });
                    
                }
                else
                {
                    $("#error-widget").css("display", "block");
                }
                return false;
            });
    });            
    </script>
{% endblock %}