{% extends "backend_layout.php"%}
{% block head %}
    {{ parent() }}
    <script src="{{server}}js/plugins/jquery-2.1.2.js"></script>
    <script type="text/javascript" charset="utf8" src="{{server}}js/plugins/jquery.dataTables-1.10.2.min.js"></script>
    <link href="{{server}}/js/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="{{server}}js/plugins/jquery-ui/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Historial</a></li>
                <li><a href="#tabs-2">Nueva entrega</a></li>
            </ul>
            <div id="tabs-1">
                {% include 'historial_entregadirecta.html.twig' %}
            </div>
            <div id="tabs-2">
                {% include 'nueva_entregadirecta.html.twig' %}
            </div>
        </div>    

    </div>


{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#tabs").tabs();
        });
    </script>
{% endblock %}