{% extends "backend_layout.php" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{server}}js/plugins/jquery-2.1.2.js"></script>
    <link href="{{server}}js/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="{{server}}js/plugins/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/jquery.dataTables-1.10.2.min.js"></script>
    <link href="{{server}}css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{server}}css/bootstrap/js/bootstrap.min.js"></script>


{% endblock %}


{% block content %}
    <div id = "content" class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">Listado (entre fechas) de los kilos de pedidos que fueron entregados (gráfico de barra)</h3>
            <div class="col-md-6">
                <form id="form-1" class="form-inline" role="form"> 
                    <label for="from">Desde</label>
                    <input type="text" id="from1" name="from">
                    <label for="to">hasta</label>
                    <input type="text" id="to1" name="to">
                    <button id="button-2"> consultar </button>
                </form>
                <div id="container-1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 3% auto"></div>
            </div>
            <div class="col-md-6">
                <table>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h3 >Listado (entre fechas) de cada E.R y los kilos de alimento que le fueron entregados (gráfico de torta)</h3>
            <div class="col-md-6">
                <form id="form-2"  class="form-inline" role="form"> 
                    <label for="from">Desde</label>
                    <input type="text" id="from" name="from">
                    <label for="to">hasta</label>
                    <input type="text" id="to" name="to">
                    <button id="button-2"> consultar </button>
                </form>
                <div id="container-2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 3% auto"></div>
            </div>
            <div class="col-md-6">
                <table>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h3>Alimentos vencidos sin entregar (agrupados por descripción)</h3>
            <div class="col-md-6">
                <form id="form-3"  class="form-inline" role="form"> 

                    <button id="button-2"> consultar </button>
                </form>
                <div id="container-3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 3% auto"></div>
            </div>
            <div class="col-md-6">
                <table>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/highcharts.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/highcharts-3d.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/modules/exporting.js"></script>
    <script>
        $(document).ready(function () {
            $("#from").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#from1").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#to1").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#to1").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#from1").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#from, #from1, #to, #to1").datepicker("option", "dateFormat", 'dd/mm/yy');
            //=========================================================================================

            function parseToUTC(aDateString) {
                var el = aDateString.split('-');
                return Date.UTC(parseInt(el[0]), parseInt(el[1]) - 1, parseInt(el[2]));
            }

            $("#form-2").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/dos',
                    dataType: 'json',
                    data: $("#form-2").serialize(),
                    success: function (aData) {
                        $("#container-2").highcharts().series[0].update({data: aData});
                    }
                });
            });
            $("#form-1").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/uno',
                    dataType: "json",
                    data: $("#form-1").serialize(),
                    success: function (aData) {
                        $.map(aData, function (elem) {
                            elem[0] = parseToUTC(elem[0]);
                        });
                        $("#container-1").highcharts().series[0].update({data: aData});
                    }
                });
            });
            $("#form-3").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/tres',
                    success: function (aData) {
                        $("#container-3").highcharts().series[0].update({data: aData});
                    }
                });
            });
            //=========================================================================================

            $('#container-2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1
                },
                title: {
                    text: 'Kilos de alimento que le fueron entregados a E.R.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}KG</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }},
                series: [{
                        type: 'pie',
                        name: 'KG alimentos',
                        data: [['Entidad1', 10], ['Entidad2', 1000], ['Entidad3', 0]]
                    }]
            });
            $('#container-1').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Listado (entre fechas) de los kilos de pedidos que fueron entregados'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%e. %b'
                    },
                    title: {
                        text: 'Fechas'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Alimentos vencidos ( kg ) ',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                legend: {enabled: false},
                tooltip: {enabled: false},
                series: [{
                        name: 'FECHAS',
                        data: [
                        ]
                    }]
            });
            $('#container-3').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1
                },
                title: {
                    text: 'Browser market shares at a specific website, 2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }},
                series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: [['Entidad1', 10], ['Entidad2', 100]]
                    }]
            });
        });
    </script>

{% endblock %}
{#/*http://jsfiddle.net/gh/get/jquery/1.9.1/highslide-software/highcharts.com/tree/master/samples/highcharts/demo/column-parsed/*/#}