{% extends "backend_layout.php" %}
{% block head %}
    <link href="{{server}}css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {{ parent() }}
    <script type="text/javascript" src="{{server}}js/plugins/jquery-2.1.2.js"></script>
    <link href="{{server}}js/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="{{server}}js/plugins/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/jquery.dataTables-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{server}}css/bootstrap/js/bootstrap.min.js"></script>
    <link href="{{server}}css/dataTables.bootstrap.css" rel="stylesheet">

{% endblock %}


{% block content %}
    <div id = "content" class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">Listado (entre fechas) de los kilos de pedidos que fueron entregados (gráfico de barra)</h3>
            <div class="col-md-6">
                <form id="form-1" class="form-inline" role="form"> 
                    <label for="from">Desde</label>
                    <input type="text" id="from1" name="from">
                    <label for="to">hasta</label>
                    <input type="text" id="to1" name="to">
                    <button id="button-2"> consultar </button>
                </form>
                <div id="container-1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 3% auto"></div>
            </div>
            <div class="col-md-6">
                <form id="exportar-1" action="./{{server}}Estadisticas/exportarpdf2" method="post">
                    <button type="submit" data-type="Listado (entre fechas) de los kilos de pedidos que fueron entregados (gráfico de barra)" style="margin-top:1%; margin-bottom: 1%"> Exportar PDF </button>
                    <input name="html" type="textarea" value="" hidden/>
                </form>
                <table id = "t1" class = "tabla-class table table-striped" style="margin-top:1%; margin-bottom: 1%">
                    <thead>
                        <tr>
                            <th> Fecha </th>
                            <th> KG </th>
                        </tr>
                    </thead>
                    <tbody id="tabla-1"style="text-align: center" ></tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3 >Listado (entre fechas) de cada E.R y los kilos de alimento que le fueron entregados (gráfico de torta)</h3>
            <div class="col-md-6">
                <form id="form-2"  class="form-inline" role="form"> 
                    <label for="from">Desde</label>
                    <input type="text" id="from" name="from">
                    <label for="to">hasta</label>
                    <input type="text" id="to" name="to">
                    <button id="button-2"> consultar </button>
                </form>
                <div id="container-2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 3% auto"></div>
            </div>
            <div class="col-md-6">
                <form id="exportar-2" action="./{{server}}Estadisticas/exportarpdf2" method="post">
                    <button id="exportar-2" data-type="Listado (entre fechas) de cada E.R y los kilos de alimento que le fueron entregados (grafico de torta)" style="margin-top:1%; margin-bottom: 1%"> Exportar PDF </button>
                    <input name="html" type="textarea" value="" hidden/>
                </form>
                
                <table  id="t2" class=" tabla-class table table-striped" style="margin-top:1%; margin-bottom: 1%">
                    <thead>
                        <tr>
                            <th>Entidad</th>
                            <th>kg</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-2" style="text-align: center"></tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Alimentos vencidos sin entregar (agrupados por descripción)</h3>
            <form id="exportar-3" action="./{{server}}Estadisticas/exportarpdf2" method="post">
                    <input name="html" type="textarea" value="" hidden/>
                    <button id="refresh" class = "col-md-4">Actualizar</button>
                    <button type="submit" data-type="Alimentos vencidos sin entregar (agrupados por descripción)" class = "col-md-4"> Exportar PDF </button>
                </form>
            <div class = "row col-md-8" style = "margin-top: 1%; margin-bottom: 1%">
                
            </div>
            <div class="col-md-12">
                <table id = "t3" class = "tabla-class table table-bordered" style="text-align: center">
                    <thead style="text-align: center">
                        <tr>
                            <th> Fecha </th>
                            <th> KG </th>
                        </tr>
                    </thead>
                    <tbody id="tabla-3" style="text-align: center"></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/highcharts.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/highcharts-3d.js"></script>
    <script type="text/javascript" src="{{server}}js/plugins/Highcharts-4.0.4/js/modules/exporting.js"></script>
    <script>
        $(document).ready(function () {

            $("#from").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#from1").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#to1").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#to1").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#from1").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#from, #from1, #to, #to1").datepicker("option", "dateFormat", 'dd/mm/yy');
            //=========================================================================================

            function parseToUTC(aDateString) {
                var el = aDateString.split('-');
                return Date.UTC(parseInt(el[0]), parseInt(el[1]) - 1, parseInt(el[2]));
            }



            $("#form-2").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/dos',
                    dataType: 'json',
                    data: $("#form-2").serialize(),
                    success: function (aData) {

                        $("#t2").DataTable().destroy();

                        $("#t2").dataTable({
                            data: aData,
                            "info": false
                        });
                        $.map(aData, function (elem) {
                            elem[1] = parseInt(elem[1]);
                        });
                        $("#container-2").highcharts().series[0].update({data: aData});

                    }
                });
            });
            $("#form-1").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/uno',
                    dataType: "json",
                    data: $("#form-1").serialize(),
                    success: function (aData) {

                        $("#t1").DataTable().destroy();

                        $("#t1").dataTable({
                            data: aData,
                            "info": false
                        });

                        $.map(aData, function (elem) {

                            elem[0] = parseToUTC(elem[0]);
                            elem[1] = parseInt(elem[1]);
                        });
                        $("#container-1").highcharts().series[0].update({data: aData});
                    }
                });
            });

            $("#exportar-1, #exportar-2, #exportar-3").submit(function (e) {
                //console.log($(this).siblings().children("table"));
                /*$.ajax({
                    type: 'POST',
                    url: location.href + '/exportarpdf',
                    data: {html: '<h3>'+$(this).attr('data-type')+'</h3><table>' + $(this).siblings().children("table").html() + '</table>'},
                    success: function (aData) {
                        window.open("https://drive.google.com/viewerng/viewer?url=http://grupo_45.proyecto2014.linti.unlp.edu.ar/images/file.pdf");
                        //window.location.hostname
                    }
                });*/
                
                var str = '<h3>'+$(this).children("button").attr('data-type')+'</h3><table>' + $(this).siblings().children("table").html() + '</table>';
                $(this).children("input").val(str);
               //$(this).submit();
            });

            $("#refresh").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: location.href + '/tres',
                    success: function (aData) {
                        $("#t3").DataTable().destroy();
                        alert(aData);
                        $("#t3").dataTable({
                            data: [["Yerba", "150"], ["Barajo", "236"]]
                            //data: aData
                        });
                    }
                });
            });
            //=========================================================================================

            $('#container-2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1
                },
                title: {
                    text: 'Kilos de alimento que le fueron entregados a E.R.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}KG</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%, {point.y}KGs',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }},
                series: [{
                        type: 'pie',
                        name: 'KG alimentos',
                        data: []
                    }]
            });


            $('#container-1').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Listado (entre fechas) de los kilos de pedidos que fueron entregados'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%e. %b'
                    },
                    title: {
                        text: 'Fechas'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Alimentos vencidos ( kg ) ',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                legend: {enabled: false},
                tooltip: {
                    pointFormat: '<b>{point.y}KGs</b>'
                },
                series: [{
                        name: 'FECHAS',
                        data: []
                    }]
            });

        });
    </script>

{% endblock %}
{#/*http://jsfiddle.net/gh/get/jquery/1.9.1/highslide-software/highcharts.com/tree/master/samples/highcharts/demo/column-parsed/*/#}