<h3>Baja y Modificación</h3>
        <div class = "tabla-class">
            <table id="tabla-entidades">
                <thead>
                    <tr>
                        <th>Razón Social</th>
                        <th>Teléfono</th>
                        <th>Domicilio</th>
                        <th>Estado</th>
                        <th>Necesidad</th>
                        <th>Servicio Prestado</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    {% for elem in entidades %}
                    <tr>
                        <td> {{ elem.razonSocial }} </td>
                        <td> {{ elem.telefono }} </td>
                        <td> {{ elem.domicilio }} </td>
                        <td> {{ elem.estado.descripcion }} </td>
                        <td> {{ elem.necesidad.descripcion }} </td>
                        <td> {{ elem.servicio.descripcion }} </td>

                        <td><a href="./{{server}}entidadesReceptoras/edit/{{ elem.id }}"><img src="{{server}}images/icons/glyphicons_235_pen.png" alt="modificar"></a></td>
                        <td><a href="./{{server}}entidadesReceptoras/remove/{{ elem.id }}"><img src="{{server}}images/icons/glyphicons_197_remove.png" alt="borrar"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
