{#
Cada vez que apreto +, aparece la tabla de alimentos (no deberian aparecer todos los renglones)
cuando pongo agregar, deberia aparecer un input para agregar cuantos y el alimento en detalle para que se vea
#}

<form action="./{{server}}EntregaDirecta/add" method="POST">
    <div id="error-widget" class="ui-widget" style="display:none" onclick="$(this).css('display', 'none');">
        <div style="padding: 0 .7em;" class="ui-state-error ui-corner-all">
            <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span>
                <strong>Error:</strong> Debe haber al menos un alimento agregado.</p>
        </div>
    </div>
    <div class="conj-block" >
        <label for="entidad" style = "display : block">Entidad destinadas: </label>
        <select id="entidad" required name="entidad">
            <option selected disabled hidden value=''></option>
            {% for ent in entidades %}
                <option value="{{ ent.id }}"> {{ ent.razonSocial }}</option>
            {% endfor %}
        </select>

        <div class ="elem">

        </div>
    </div>

    <div class="conj-block">
        <button type="submit" name="submit"> Enviar </button>
        <img id="mas" style="position:inherit;" src="{{server}}images/icons/glyphicons_190_circle_plus.png">
    </div>
</form>

<div id="dialog" title ="Alimentos">
    <div class="tabla-class">
        <table id="tabla-paquetes">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Vencimiento</th>
                    <th>Contenido</th>
                    <th>Peso Unitario</th>
                    <th>Stock</th>
                    <th>Reservado</th>
                    <th colspan="1"></th>
                </tr>
            </thead>
            <tbody style="text-align: center">
                {% for detalle in detalles %}
                    {% if detalle.stock > detalle.reservado %}
                    <tr id="{{ detalle.id }}">
                        <td> {{ detalle.alimento_codigo }} </td>
                        <td> {{ detalle.fecha_vencimiento }} </td>
                        <td> {{ detalle.contenido }} </td>
                        <td> {{ detalle.peso_unitario }} </td>
                        <td id="stock"> {{ detalle.stock }} </td>
                        <td id="reservado"> {{ detalle.reservado }} </td>
                        <td style="display:none" id="cantidad"> 
                            <div id="{{detalle.id}}" style="display:inline; padding:2px">
                                <label for="cantidad"> {{ detalle.alimento_codigo }} - {{detalle.contenido}} </label>
                                <input type="text" name="detalle_alimento_id[]" style="display:none" value="{{ detalle.id }}">
                                <select id="cantidad" name="cantidad[]" required>
                                    {% for cant in 1..((detalle.stock)-detalle.reservado) %}
                                        <option value="{{ cant }}">{{ cant }}</option>
                                    {% endfor %}
                                </select>
                                <img onclick="quitar({{detalle.id}});" src="{{server}}images/icons/glyphicons_208_cart_out.png" >
                            </div>
                        </td>
                        <td onclick="agregar(this);"><img src="{{server}}images/icons/glyphicons_209_cart_in.png" ></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
